#ignore all temporary configs
*.txt
#ignore all user files
*.admin
*.limited
#ignore compiled python stuff
__pycache__
playsound.pyc
#ignore lock file
lock
#ignore ini files
*.ini
.vscode/settings.json
.DS_Store
